/* styles.css */
body {
    font-family: Arial, sans-serif; /* Set font for the body */
    background-color: #f8fffe;      /* Set background color for the body */
    margin: 0;                      /* Remove default margin */
    padding: 20px;                  /* Add padding around the body */
}

.questions {
    background-color: #f8fffe;      /* Set background color for blockquote */
    height: 50px;                   /* Set height for blockquote */
    margin-top: 20px;               /* Add margin above each blockquote */
    padding: 15px;                  /* Add padding inside blockquote */
    max-width: 600px;               /* Set maximum width for blockquote */
    border-left: 8px solid green;   /* Add left border */
    box-sizing: border-box;         /* Include padding and border in the element's total width and height */
}